@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

<body>
    <div class="text-center">

    <div id="map" style="height: 350px"></div> <br />

    <table id='hotelsTableEN'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Municipality</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => hotel.Name_EN)</td>
                    <td>@Html.DisplayFor(modelItem => hotel.Municipality_EN)</td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        
        <script>
            $(document).ready(function () {
                $('#hotelsTableEN').DataTable();
            });

            navigator.geolocation.getCurrentPosition(success, fail, {
                enableHighAccuracy: true
            });

            function success(pos) {
                var map = L.map('map').setView([pos.coords.latitude, pos.coords.longitude], 15);
                
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiaWl2YW5vdjIiLCJhIjoiY2t4YndqbjRyMTJoMjJva3RtMzFpNWRjZiJ9.PWe34SauE3pPKeTU3PZWKg'
                }).addTo(map);

                /*function distanceTo(lat, lon) { // distance from the user to the hotel, not a route distance
                    var R = 6371e3;
                    var fi1 = pos.coords.latitude * Math.PI / 180;
                    var fi2 = pos.coords.longitude * Math.PI / 180;
                    var deltaFi = (lat - pos.coords.latitude) * Math.PI / 180;
                    var deltaL = (lon - pos.coords.longitude) * Math.PI / 180;
            
                    var a = Math.sin(deltaFi / 2) * Math.sin(deltaFi / 2) +
                            Math.cos(fi1) * Math.cos(fi2) * Math.sin(deltaFi / 2) * Math.sin(deltaL / 2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    var result = (R * c) / 1000.00;

                    return result;
                }*/

                // place hotel markers
                @foreach (var h in Model) {
                    <text>
                        var marker = L.marker([@h.Lat, @h.Lon]).addTo(map);
                        marker.bindPopup('@h.Name_EN').openPopup();
                    </text>
                }

                // use a circle instead of a marker for the user to show an approximate location
                var circle = L.circle([pos.coords.latitude, pos.coords.longitude], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 15
                }).addTo(map);
            }

            function fail() {
                alert("Location error.");
            }

            /*function setMap(pos) {
                var map = L.map('map').setView([pos.coords.latitude, pos.coords.longitude], 15);
                
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiaWl2YW5vdjIiLCJhIjoiY2t4YndqbjRyMTJoMjJva3RtMzFpNWRjZiJ9.PWe34SauE3pPKeTU3PZWKg'
                }).addTo(map);
            }*/
        </script>
    }
    </div>
</body>